LISEZ-MOI*
*~
*.o
*.a
*.bin
noyau/symbols
noyau/noyau.obj
noyau/noyau.elf
boot/bourage
./manux
outils/taillenoyau
taille.conf
**/*.aux
**/Manux.idx
**/*.log
**/Manux.pdf
noyaux/*
.cache/
.emacs.desktop
doc/ManuX/
doc/docs/doxy/
doc/outils-part.run.xml
**/.emacs.*
